@{
    /**/

    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Votaciones</h1>
            <p class="lead">Sistema de votaciones estudiantiles</p>
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
                <br />
                <p class="text-danger" , style="text-align:justify">Para utilizar el sistema por favor Inicie Sesión. </p>
            }
            else
            {
                <br />
                <p class="text-danger" , style="text-align:justify"><i>“El oro del sabio está en su palabra porque es luz y verdad para los cuerdos” </i></p>
            }
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/logo.png" class="img-responsive" style="margin-left: auto;margin-right: auto;display: block;width:300px;height:300px;max-width:100%;" />
        </div>
    </div>
</div>

@if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Iniciar Sesión</h2>
            <p>Ingresa con tus credenciales en el sistema.</p>
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" }) &nbsp;&nbsp;
            <a href="/Account/Login"><img src="~/Content/Images/login.png" style="width:150px; height:150px; max-width:100%" /></a>

        </div>
        <div class="col-md-4">
            <h2>Resultados</h2>
            <p>Mira los resultados de las votaciones.</p>
            @Html.ActionLink("Resultados", "Results", "Votings", new { }, new { @class = "btn btn-warning" })
            <a href="/Votings/Results"><img src="~/Content/Images/results.png" style="width:150px; height:150px; max-width:100%" /></a>

        </div>
        <div class="col-md-4">
            <h2>Propuestas Electorales</h2>
            <p>Conoce la propuestas que tinen los candidatos para tí.</p>
            @Html.ActionLink("Propuestas", "DownloadPropuesta", "Votings", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info" }) &nbsp;&nbsp;
            <img src="~/Content/Images/propuestas.png" style="width:150px; height:150px; max-width:100%" />
        </div>
    </div>
}
else
{
    if (this.User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Grupos de Votación</h2>
                <p>Gestiona los grupos de Votación del sistema.</p>
                @Html.ActionLink("Grupos", "Index", "Groups", new { }, new { @class = "btn btn-primary" })
                <a href="/Groups"><img src="~/Content/Images/network.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
            <div class="col-md-4">
                <h2>Usuarios del Sistema</h2>
                <p>Gestiona todos los usuarios en el sistema.</p>
                @Html.ActionLink("Usuarios", "Index", "Users", new { }, new { @class = "btn btn-warning" })
                <a href="/Users"><img src="~/Content/Images/userv.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
            <div class="col-md-4">
                <h2>Votaciones Electorales</h2>
                <p>Gestiona las votaciones del sistema.</p>
                @Html.ActionLink("Votaciones ", "Index", "Votings", new { }, new { @class = "btn btn-info" }) &nbsp;&nbsp;
                <a href="/Votings"><img src="~/Content/Images/newvote.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Mis Certificados</h2>
                <p>Encuentra aquí tus certificados de votación.</p>
                @Html.ActionLink("Certificados", "MyCertificates", "Votings", new { }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;
                <a href="/Votings/MyCertificates"><img src="~/Content/Images/certificate.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
            <div class="col-md-4">
                <h2>Mis Votaciones</h2>
                <p>Vota por los candidatos de tu preferencia.</p>
                @Html.ActionLink("Mis Votaciones", "MyVotings", "Votings", new { }, new { @class = "btn btn-warning" })
                <a href="/Votings/MyVotings"><img src="~/Content/Images/voto.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
            <div class="col-md-4">
                <h2>Resultados</h2>
                <p>Mira los resultados de las votaciones.</p>
                @Html.ActionLink("Resultados", "Results", "Votings", new { }, new { @class = "btn btn-info" })
                <a href="/Votings/Results"><img src="~/Content/Images/results.png" style="width:150px; height:150px; max-width:100%" /></a>
            </div>
        </div>


    }
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>


    <script>
        var userRole = '@(this.User.IsInRole("User") ? "true" : "false")';
        var sesion = '@Session["modal"]';

        var jc = $.confirm({
            title: 'Cambiar Contraseña',
            icon: 'fas fa-key',
            type: 'blue',
            closeIcon: true,
            draggable: false,
            lazyOpen: true,
            animation: 'scale',
            theme: 'modern',
            content: 'Como medida de seguridad le sugerimos que cambie su clave de acceso al sistema',
            buttons: {
                Cambiar: {
                    btnClass: 'btn-blue',
                    action: function () {
                        location.href = '@Url.Action("ChangePassword", "Manage")';
                    }
                },
                Ignorar: {
                    btnClass: 'btn-red',
                }
            }
        });

        if (userRole == 'true' && sesion == 'True') {
            jc.open();
        }

    </script>
}