@{
                /**/

                ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Votaciones</h1>
            <p class="lead">Sistema de votaciones de la Universidad Técnica de Cotopaxi.</p>
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
                <p class="text-danger" , style="text-align:justify">Para usar el sistema por favor Inicia Sesión. </p>

            }
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/logo1.png" class="img-responsive" />
        </div>
    </div>
</div>

@if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Iniciar Sesión</h2>
            <p>Ingresa con tus credenciales en el sistema.</p>
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })&nbsp;&nbsp;&nbsp;
            <img src="~/Content/Images/login.png" style="width:150px; height:150px; max-width:100%" />

        </div>
        <div class="col-md-4">
            <h2>Resultados</h2>
            <p>Mira los resultados de las votaciones.</p>
            @Html.ActionLink("Resultados", "Results", "Votings", new { }, new { @class = "btn btn-warning" })&nbsp;
            <img src="~/Content/Images/results.png" style="width:150px; height:150px; max-width:100%" />

        </div>
        <div class="col-md-4">
            <h2>Recuperar Contraseña</h2>
            <p>¿Olvidaste tu contraseña? Recuperala aquí.</p>
            @Html.ActionLink("Recuperar Contraseña", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info" })
            <img src="~/Content/Images/question1.png" style="width:150px; height:150px; max-width:100%" />
            
        </div>
    </div>
}
else
{
    if (this.User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Grupos de Votación</h2>
                <p>Gestiona los grupos de Votación del sistema.</p>
                @Html.ActionLink("Grupos", "Index", "Groups", new { }, new { @class = "btn btn-primary" })&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Images/network.png" style="width:150px; height:150px; max-width:100%" />

            </div>
            <div class="col-md-4">
                <h2>Usuarios del Sistema</h2>
                <p>Gestiona todos los usuarios en el sistema.</p>
                @Html.ActionLink("Usuarios", "Index", "Users", new { }, new { @class = "btn btn-warning" })&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Images/userv.png" style="width:150px; height:150px; max-width:100%" />

            </div>
            <div class="col-md-4">
                <h2>Votaciones Electorales</h2>
                <p>Gestiona las votaciones del sistema.</p>
                @Html.ActionLink("Votaciones ", "Index", "Votings", new { }, new { @class = "btn btn-info" })&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Images/newvote.png" style="width:150px; height:150px; max-width:100%" />

            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Mis Certificados</h2>
                <p>Encuentra aquí tus certificados de votación.</p>
                @Html.ActionLink("Certificados", "MyCertificates", "Votings", new { }, new { @class = "btn btn-primary" })&nbsp;&nbsp;
                <img src="~/Content/Images/certificate.png" style="width:150px; height:150px; max-width:100%" />

            </div>
            <div class="col-md-4">
                <h2>Mis Votaciones</h2>
                <p>Vota por los candidatos de tu preferencia.</p>
                @Html.ActionLink("Mis Votaciones", "MyVotings", "Votings", new { }, new { @class = "btn btn-warning" })
                <img src="~/Content/Images/voto.png" style="width:150px; height:150px; max-width:100%" />

            </div>
            <div class="col-md-4">
                <h2>Resultados</h2>
                <p>Mira los resultados de las votaciones.</p>
                @Html.ActionLink("Resultados", "Results", "Votings", new { }, new { @class = "btn btn-info" })&nbsp;
                <img src="~/Content/Images/results.png" style="width:150px; height:150px; max-width:100%" />

            </div>
        </div>
    }
}
