@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (this.User.IsInRole("Admin"))
            {
                if (Session["nombre"] != null)
                {
                    @Html.ActionLink("Hola " + Session["nombre"].ToString() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Configuraciones" })
                }
            }
            else
            {
                if (Session["nombre"] != null)
                {
                    @Html.ActionLink("Hola " + Session["nombre"].ToString() + "!", "MySettings", "Users", routeValues: null, htmlAttributes: new { title = "Configuraciones" })
                }
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
            }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Manual de Usuario", "DownloadManual", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", target = "_blank"})</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
