@model IEnumerable<votaciones.Models.VotingIndexView>

@{
    ViewBag.Title = "Index";
}

    <h2>Votaciones</h2>

<p>
    @Html.ActionLink("Nueva Votación", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsForAllUsers)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsEnableBlankVote)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.QuantityBlankVotes)
        </th>*@
        <th>
            Ganador
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsForAllUsers)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsEnableBlankVote)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.QuantityBlankVotes)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Winner.FullName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.VotingId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Detalles", "Details", new { id = item.VotingId }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Resultados", "ShowResults", new { id = item.VotingId }, new { @class = "btn btn-default", target = "_blank" }) 
            @Html.ActionLink("Cerrar", "Close", new { id = item.VotingId }, new { @class = "btn btn-info", onclick = "return confirm('¿Está seguro de cerrar esta votación?')" }) 
            @Html.ActionLink("Eliminar", "Delete", new { id = item.VotingId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
