@model IEnumerable<votaciones.Models.VotingIndexView>

@{
    ViewBag.Title = "Votaciones";
}
<div>
    <div class="row">
        <div class="col-sm-4"><h2>Votaciones</h2></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:right">
            <br />
            <p>
                @Html.ActionLink("Nueva Votación", "Create", new { }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Estado
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Fin
        </th>
        <th>
            ¿Para todos?
        </th>
        <th>
            Total Votos
        </th>
        <th>
            Ganador
        </th>
        <th style="padding-left:40px;">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.State.Description)
            </td>
            <td style=" word-wrap: break-word;  width: 140px; overflow: hidden; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style=" word-wrap: break-word;  width: 150px; overflow: hidden; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td align="center" style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.IsForAllUsers)
            </td>

            <td align="center" style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.QuantityVotes)
            </td>

            <td style=" word-wrap: break-word;  width: 125px; overflow: hidden;vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Winner.FullName)
            </td>
            <td style="vertical-align:middle">
                <div class="btn-group">
                    <input type="button" class="btn btn-default btn-sm" value="Opciones" onclick="opciones(@item.VotingId,'@item.Description')" />
                    <input type="button" target="_blank" class="btn btn-default btn-sm" value="Reportes" onclick="reportes(@item.VotingId,'@item.Description')" />
                </div>
            </td>
        </tr>
    }

</table>


@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script>

        function cerrar(id,n) {
            $.confirm({
                title: 'Cerrar Votación',
                icon: 'far fa-hand-paper',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                theme: 'modern',
                content: '¿Está seguro de cerrar<b> ' + n + '</b>?',
                buttons: {
                    Cerrar: {
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = '@Url.Action("Close", "Votings", new {id = "ID"})'.replace("ID", parseInt(id));
                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }

        function opciones(id, n) {
            $.confirm({
                title: 'Opciones',
                icon: 'fas fa-tools',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                boxWidth: '35%',
                useBootstrap: false,
                theme: 'modern',
                content: 'Elija elija la acción que desea realizar en<b> ' + n + '</b>',
                buttons: {
                    Editar: {
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = '@Url.Action("Edit", "Votings", new {id = "ID"})'.replace("ID", parseInt(id));
                        }
                    },
                    Detalles: {
                        btnClass: 'btn-purple',
                        action: function () {
                            location.href = '@Url.Action("Details", "Votings", new {id = "ID"})'.replace("ID", parseInt(id));
                        }
                    },
                    Cerrar: {
                        btnClass: 'btn-dark',
                        action: function () {
                            $.confirm({
                            title: 'Cerrar Votación',
                            icon: 'far fa-hand-paper',
                            type: 'blue',
                            closeIcon: true,
                            draggable: false,
                            animation: 'scale',
                            theme: 'modern',
                            content: '¿Está seguro de cerrar<b> ' + n + '</b>?',
                            buttons: {
                                Cerrar: {
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        location.href = '@Url.Action("Close", "Votings", new {id = "ID"})'.replace("ID", parseInt(id));
                                    }
                                },
                                Cancelar: {
                                    btnClass: 'btn-red',

                                }
                            }
                          });
                        }
                    },
                    Eliminar: {
                        btnClass: 'btn-orange',
                        action: function () {
                            location.href = '@Url.Action("Delete", "Votings", new {id = "ID"})'.replace("ID", parseInt(id));
                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }

        function reportes(id, n) {
            $.confirm({
                title: 'Reportes',
                icon: 'fas fa-chart-pie',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                boxWidth: '35%',
                useBootstrap: false,
                theme: 'modern',
                content: 'Elija el tipo de reporte que desea mostrar para<b> ' + n + '</b>',
                buttons: {
                    General: {
                        btnClass: 'btn-blue',
                        action: function () {
                            window.open('@Url.Action("ShowResults", "Votings", new {id = "ID" })'.replace("ID", parseInt(id)));
                        }
                    },
                    Curso: {
                        btnClass: 'btn-purple',
                        action: function () {
                            window.open('@Url.Action("ShowCursoResults", "Votings", new {id = "ID"})'.replace("ID", parseInt(id)));
                        }
                    },
                    Faltantes: {
                        btnClass: 'btn-dark',
                        action: function () {
                            window.open('@Url.Action("ShowNoVote", "Votings", new {id = "ID"})'.replace("ID", parseInt(id)));
                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }
    </script>
}