@model IEnumerable<votaciones.Models.VotingIndexView>

@{
    ViewBag.Title = "Resultados";
}

@if (!Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Resultados
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/results.png" style="margin-left: auto; margin-right: auto; display: block">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    No existen resultados actualmente.
                </h2> <br />
                <div align="center">
                    @Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "btn btn-lg btn-primary" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Resultados</h2>
    <table class="table">
        <tr>
            <th>
                Votación
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Fin
            </th>
            <th>
                Estado
            </th>
            <th>
                Total Votos
            </th>
            <th>
                Ganador
            </th>
            <th>
                Reporte
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style=" word-wrap: break-word;  width: 170px; overflow: hidden; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style=" word-wrap: break-word;  width: 170px; overflow: hidden; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.DateTimeStart)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.DateTimeEnd)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.State.Description)
                </td>
                <td align="center" style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.QuantityVotes)
                </td>
                <td style=" word-wrap: break-word;  width: 150px; overflow: hidden; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Winner.FullName)
                </td>
                <td style="vertical-align: middle">
                    @Html.ActionLink("Resultados", "ShowResults",
                    new { id = item.VotingId }, new { @class = "btn btn-primary", target = "_blank" })
                </td>
            </tr>
        }

    </table>
}