@model votaciones.Models.VotingVoteView

@{
    ViewBag.Title = "Votar";
}

<h2>Votación</h2>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Seleccione un cadidato de su preferencia y pulse en "Votar"</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateTimeStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateTimeEnd)
                </dd>
            </dl>
            <img src="~/Content/Images/mesa.png" class="img-responsive" style="margin-left:auto; margin-right:auto; display:block; width:450px; height:450px; max-width:100%" />
            <br />
            @Html.ActionLink("Volver a mis votaciones", "MyVotings", new { }, new { @class = "btn btn-success" })
            @Html.ActionLink("Propuestas Electorales", "DownloadPropuesta", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div class="col-md-6">
        <h4 style="text-align:center"><b>Candidatos</b></h4>
        <hr />
        @if (Model.MyCandidates.Count > 0)
        {
            <table class="table">
                <tr>
                    <th style="border-top:none;padding-top:0">
                        Nombre
                    </th>
                    <th style="border-top:none">

                    </th>
                    <th style="border-top:none">

                    </th>
                </tr>

                @for (int i = 0; i < Model.MyCandidates.Count; i++)
                {
                    <tr>
                        <td style="vertical-align:middle; font-style:italic; font-size:medium">

                            @Html.DisplayFor(modelItem => Model.MyCandidates[i].User.FullName)<br />
                            @Html.DisplayFor(modelItem => Model.MyCandidates[i].User.Group)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.MyCandidates[i].User.Photo))
                            {
                                <img src="@Url.Content(Model.MyCandidates[i].User.Photo)" alt="Image" style="width:180px;height:180px;max-width:100%;height:auto;border-radius:50%;" />
                            }
                        </td>
                        <td style="vertical-align:middle">
                            @using (Html.BeginForm("VoteForCandidate", "Votings", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAddCandidate" + @Model.MyCandidates[i].CandidateId }))
                            {
                                <input type="hidden" id="candidateId" name="candidateId" value="@Model.MyCandidates[i].CandidateId" />
                                <input type="hidden" id="votingId" name="votingId" value="@Model.VotingId" />

                                <input type="button" value="Votar" class="btn btn-primary" onclick="votar(@Model.MyCandidates[i].CandidateId,'@Model.MyCandidates[i].User.FullName')" />     
                            }
                        </td>

                    </tr>

                }

            </table>
        }
        else
        {
            <h5>No existen candidatos actualmente</h5>
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <script>
        function votar(id,n) {
            $.confirm({
                title: 'Confirmar Voto',
                icon: 'fas fa-vote-yea',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                theme: 'modern',
                content: '¿Está seguro de votar por<b> ' + n + '</b>?',
                buttons: {
                    Votar: {
                        btnClass: 'btn-blue',
                        action: function () {
                            $(`#formAddCandidate${id}`).submit();

                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }      
    </script>
}