@model votaciones.Models.User

@{
    ViewBag.Title = "Detalles del Usuario";
}

<h2>Detalle del Usuario</h2>

<div>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cedula)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Adress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Group)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content(Model.Photo)" alt="Image" style="width:190px;height:190px;max-width:100%; height:auto;" />
            }
        </div>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
    </p>
</div>
            