@model votaciones.Models.UserIndexView

@{
    ViewBag.Title = "Detalles del Usuario";
}

<h2>Detalle del Usuario</h2>

<div>
    <div class="text-success">
        @TempData["DataAdm"]
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cedula)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Group)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdmin)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content(Model.Photo)" alt="Image" style="width:190px;height:190px;max-width:100%; height:auto;border-radius:50%;" />
            }
        </div>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" })
        <input type="button" class="btn btn-warning" value="Cambiar Rol" onclick="admin(@Model.UserId,'@Model.FullName')" />
        @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
    </p>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script>
        function admin(id,n) {
            $.confirm({
                title: 'Cambiar Rol',
                icon: 'fas fa-exchange-alt',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                theme: 'modern',
                content: '¿Está seguro de cambiar de rol a<b> ' + n + '</b>?',
                buttons: {
                    Cambiar: {
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = '@Url.Action("OnOffAdmin", "Users", new {id = "ID"})'.replace("ID", parseInt(id));

                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }
    </script>
}