@{
    ViewBag.Title = "Usuarios";
}

<style>
    .class001 {
        text-align: center;
        vertical-align: middle !important;
    }

    .cs {
        vertical-align: middle !important;
    }
</style>
<div id="mainContainer">
    <div>
        <div class="row">
            <div class="col-sm-4"><h2>Usuarios</h2></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align:right">
                <br />
                <div class="btn-group">
                    @Html.ActionLink("Pdf", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })
                    @Html.ActionLink("Excel", "XLS", new { }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Importar", "ImportData", new { }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Nuevo Usuario", "Create", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Cédula
                </th>
                <th class="text-center">
                    Foto
                </th>
                <th>
                    Curso
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
    </table>
</div>
@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>

    <script>

        var oTable = $('#tbl').dataTable({
            "bServerSide": true,
            ordering: false,
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "sAjaxSource": "/Users/GetUserList",
            "processing": true,
            "sServerMethod": "POST",
            "aoColumns": [
                { "mData": "LastName", "class": "cs", },
                { "mData": "Cedula", "class": "class001", },
                {
                    "class": "class001",
                    "mData": function (o) {
                        return '<img src="' + o.Photo + '" alt="Image" style="width:60px;height:60px;max-width:100%;border-radius:50%; " />';
                    }
                },
                { "mData": "Curso", "class": "class001", },
                {
                    "class": "class001",
                    "mData": function (o) {
                        return '<div class="btn-group""><a type="button" class="btn btn-default btn-sm" href="/Users/Edit/' + o.UserId + '" >Editar</a>' +
                            '<a type="button" class="btn btn-default btn-sm" href="/Users/Details/' + o.UserId + '" >Detalles</a>' +
                            '<a type="button" class="btn btn-default btn-sm" href="/Users/Delete/' + o.UserId + '" >Eliminar</a></div>';
                    }
                }
            ],
        });
    </script>
}
