@model IEnumerable<votaciones.Models.UserIndexView>
@{
    ViewBag.Title = "Usuarios";
}

<div>
    <div class="row">
        <div class="col-sm-4"><h2>Usuarios</h2></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:right">
            <br />
            <p>
                <div class="btn-group">
                    @Html.ActionLink("Pdf", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })
                    @Html.ActionLink("Excel", "XLS", new { }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Doc", "DOC", new { }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Nuevo Usuario", "Create", new { }, new { @class = "btn btn-primary" })
                </div>
            </p>
        </div>
    </div>
</div>

<br />

<table class="table" id="users">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Correo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th class="text-center">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Facultad)
                </td>
                <td style="vertical-align:middle">
                    @if (!string.IsNullOrEmpty(item.Photo))
                    {
                        <img src="@Url.Content(item.Photo)" alt="Image" style="width:60px;height:60px;max-width:100%;border-radius:50%; " />
                    }
                </td>
                <td align="center" style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td style="vertical-align:middle">
                    <div class="btn-group">
                        @Html.ActionLink("Editar", "Edit", new { id = item.UserId }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.UserId }, new { @class = "btn btn-default btn-sm" })
                        <input type="button" class="btn btn-default btn-sm" value="Cambiar Rol" onclick="admin(@item.UserId,'@item.FullName')" />
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.UserId }, new { @class = "btn btn-default btn-sm"})
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/bf44875ae6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#users").DataTable({
                "dom": '<"pull-left"f><"pull-right"l>tip'
            });
        });

        function admin(id,n) {
            $.confirm({
                title: 'Cambiar Rol',
                icon: 'fas fa-exchange-alt',
                type: 'blue',
                closeIcon: true,
                draggable: false,
                animation: 'scale',
                theme: 'modern',
                content: '¿Está seguro de cambiar de rol a<b> ' + n + '</b>?',
                buttons: {
                    Cambiar: {
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = '@Url.Action("OnOffAdmin", "Users", new {id = "ID"})'.replace("ID", parseInt(id));

                        }
                    },
                    Cancelar: {
                        btnClass: 'btn-red',

                    }
                }
            });
        }
    </script>
}
