@model IEnumerable<votaciones.Models.State>

@{
    ViewBag.Title = "Estados";
}
<div>
    <div class="row">
        <div class="col-sm-4"><h2>Estados de la Votación</h2></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:right">
            <br />
            <p>
                @Html.ActionLink("Crear Estado", "Create", new { }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.StateId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.StateId })
        </td>
    </tr>
}

</table>
