@model IEnumerable<votaciones.Models.State>

@{
    ViewBag.Title = "Index";
}

    <h2>Estados de la votacion</h2>

    <p>
        @Html.ActionLink("Crear Estado", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.StateId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.StateId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.StateId })
        </td>
    </tr>
}

</table>
