@model votaciones.Models.GroupDetailsView

@{
    ViewBag.Title = "Detalles del Grupo";
}

<h2>Detalle del Grupo</h2>
<div>
    <div class="row">
        <div class="col-sm-4">
            <br />
            <dl class="dl-horizontal">
                <dt style="text-align:left;font-size:medium">
                    Descripción
                </dt>

                <dd style="font-size:medium">
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:right">
            <br />
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.GroupId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Agregar Miembro", "AddMember", new { groupId = Model.GroupId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
            </p>
        </div>
    </div>
</div>

<hr />

<h3>Miembros</h3>

@if (Model.Members.Count == 0)
{
    <h4>No hay miembros actualmente</h4>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Members[0].User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Members[0].User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Members[0].User.Photo)
        </th>
        <th>
            Acción
        </th>
    </tr>

    @for (int i = 0; i < Model.Members.Count; i++)
     { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Members[i].User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Members[i].User.UserName)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.Members[i].User.Photo))
                {
                    <img src="@Url.Content(Model.Members[i].User.Photo)" alt="Image" style="width:100px;height:100px;max-width:100%;border-radius:50%;" />
                }
            </td>
            <td>
                @Html.ActionLink("Eliminar", "DeleteMember", new { id = Model.Members[i].GroupMemberId }, new { @class = "btn btn-danger", onclick = "return confirm('¿Está seguro de eliminar este miembro?')" })
            </td>
        </tr>
     }

</table>
}