@model IEnumerable<votaciones.Models.Group>

@{
    ViewBag.Title = "Grupos";
}
<div>
    <div class="row">
        <div class="col-sm-4"><h2>Grupos de Votación</h2></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:right">
            <br />
            <p>
                @Html.ActionLink("Crear Grupo", "Create", new { }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th style="text-align:center">
            Número De Miembros
        </th>
        <th style="padding-left:65px;">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.GroupMembers.Count)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Editar", "Edit", new { id = item.GroupId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Detalle", "Details", new { id = item.GroupId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.GroupId }, new { @class = "btn btn-default" })
                </div>
            </td>
        </tr>
     }

</table>
